<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link href="./css/profilecard.css" rel="stylesheet" />
    <title>Profile</title>
  </head>
  <body>
    <div class="profilecard">
      <div class="cardborder"></div>
      <span class="givetitle">I can help you with </span
      ><span class="givetext"
        >As an endless ideator, I can help you brainstorm for your startup idea.
        User acquisition strategy, product, pitch, anything </span
      ><span class="asktext"
        >If anyone has expertise in growth marketing, I would love to
        connect!</span
      ><span class="InterestsTitle">Interests</span
      ><span class="asktitle">I would like some help on </span
      ><span class="IntroTitle">Intro</span
      ><span class="Headline">Product Designer, Coda</span
      ><span class="Name">Catie Lin </span>
      <div class="socialmedia1">
        <img src="images/linkedin.png" alt="linkedin"></i>
      </div>
      <div class="socialmedia2">
        <img src="images/dribbble.png" alt="dribbble"></i>
      </div>
      <div class="socialmedia3">
        <img src="images/behance.png" alt="behance"></i>
      </div>
      <div class="spacer-small"></div>
      <span class="bio"
        >I'm hipster try-hard woke slow-carb umami, typewriter plaid kombucha
        mustache kale chips you probably haven't heard of them celiac. Blue
        bottle art party echo park swag truffaut wayfarers coloring book.</span
      >
      <div class="lightbluebox1"></div>
      <span class="tag1">product design</span>
      <div class="lightbluebox2"></div>
      <span class="tag2">entrepreneurship</span>
      <div class="lightbluebox3"></div>
      <span class="tag3">UX/UI design</span>
      <div class="lightbluebox4"></div>
      <span class="tag4">blogging</span>
      <div class="lightbluebox5"></div>
      <span class="tag5">music</span>
      <div class="editcontainer">
        <span class="icon editicon"
          ><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAB00lEQVRoQ+2ZsVHEMBBF/1UAHUAJ0AEdQAHExIRkQEgEOSENQAWUACVABRwRIcyfsRjweXclWSvpZqzoZk6W39vVypa1wpa31ZbzYxFoncFeM3AF4AvAjRWgHgUIfzmAX1gSlsA+gFsABwD4e077BHAE4FUZ5C986KZKaAIEfgGwO4d6uDYX3pTQBB4BHHcAr0poAh8Foh8T+QD4AODUCNjGdNIEvkeDWfVSIFmwJK4BsE5+W0sBgvyDGagkiQ149m8lEFabewBnE6kbS0zCtxIYL5WWhAjfQmBqnSeHJCFNsyY1IMEHGElCXRxq1YAFny1RQyAWPkioc36cDm8BV3jvInaH9xQoDc8XyvVUNXtMIQ/4ZwCHNQS84LkfmQx2yQx4wovTvZRAaXgCczPFyIfmlgEPeEJHvc6XyMD4RtqjP+Uh1Z1ACnx3GUiF70ogB74bgVz4LgS4OlEgt1Ur4lxA67pFICoCVhhn/B91/xIPshmM6qWLQFQEvMJf4l2IO6AdR8CUod+l84kan9dTQKW+TwBOUndkPODgaUrrLPATPfcFb6kC7E+Ju2GAvRKhTBiD04YBPJfgxW1awk2ad61xaOEquQi4hjdi8CUDEUFy7fIDQO2DMZAZR+gAAAAASUVORK5CYII"
            alt="editicon"
        /></span>
      </div>
      <div class="profilecontainer2">
        <span class="icon profileicon"
          ><img src="images/profile2.png" alt="profile"></i></span>
      </div>
    </div>
  </body>
</html>
